.container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background-color: #0B0B0B;
  color: #ffffff;
  border-radius: 8px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.dateContainer {
  margin-bottom: 2rem;
}

.date {
  color: #b3b3b3;
  font-size: 0.9rem;
}

.content {
  line-height: 1.6;
  font-size: 1rem;
}

.prose {
  margin-top: 3rem;
}

.prose h1 {
  font-size: 2rem;
  margin-bottom: 1rem; 
}

.prose p {
  margin-bottom: 2rem;
}

.pre p {
  margin: 2rem;
}