.navContainer {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navLinks {
    display: flex;
  }
  
  .navLink {
    margin-left: 1.5rem;
    transition: all 0.2s ease-in-out;
  }
  
  .navLink:hover {
    color: #cca5e2;
    text-decoration: underline;
  }
  
  .brandName {
    font-weight: bold;
  }
