.body {
  font-family: 'Geist Sans', sans-serif;
  font-family: 'Geist Mono', monospace;
  width: 100%;
}

.main {
  position: relative;
}

.footer {
  justify-content: space-around;
  width: 100%;
  display: flex;
}

.sobreIntro {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  text-align: left;
}

.pageContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.linkedinButton {
    background: #BF91F9;
    color: #0B0B0B;
    font-weight: bold;
    width: 145px;
    height: 39px;
    margin-top: 424px;
    left: 352px;
    padding: 10px 40px 10px 40px;
    border-radius: 4px 0px 0px 0px;    
  }
  
  .linkedinButton:hover {
    background-color: #cca5e2;
    opacity: 1;
}

.baixarCV {
  color: #BF91F9;
}

.nomePrincipal {
  font-family: Preahvihear;
  font-size: 48px;
  font-weight: 400;
  line-height: 86.72px;
  text-align: left;
  color: #BF91F9;
}

.nomeSecundario {
  font-family: Preahvihear;
  font-size: 32px;
  font-weight: 400;
  line-height: 57.81px;
  text-align: left;
  color: #BF91F9;
}