.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .postLink {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    max-width: 500px;
    padding: 1rem; 
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
  }
  
  .postContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .postData {
    font-size: 0.875rem;
    color: #71717a;
  }
  
  .postTitle {
    font-size: 1.25rem;
    font-weight: 600; 
  }